<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans">
    <title>App</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="info"><h1 class="planet-name"></h1><p class="frequency"></p><p class="years"></p></div>
    </div>
    <!--<%= htmlWebpackPlugin.files.runtime %>-->


    <div class="concentration"><div class="val"></div></div>
  </body>
</html>
